{% extends "base.html" %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/post.css' %}">
{% endblock stylesheet %}

{% block content %}
<div class="container">
  
  <header style="text-align: center; font-weight: bold; font-size: 22px; margin:5px; margin-top: 12px;">Create
            Post</header>
            <hr>
            <form action="#">
              <textarea class="post-content" placeholder="What's your problem ? " spellcheck="false" required></textarea>
              
              
              <div class="checkany">
                <span class="any">Anoymyous Post</span>
                <input type="checkbox" class="check">
              </div>
              <select class="level">
                <option value="Education">Education</option>
                <option value="Health">Health</option>
                <option value="Environment">Environment</option>
                <option value="Others">Others</option>
              </select>
            <div class="button">
              <button class="btnn" style=" margin:12px; width:96%; color:white;">Post</button>
            </div>
        </form>

    </div>
  </div>
  
  {% endblock content %}