{% extends "base.html" %}

{% block content %}
<div class="post"><span>
  <img src="static/img/pp.svg" alt="PP" class="pp"></span><span class="username" id="0001">Username</span>
      <div class="postcontent"></div>
      <div class="vote">
        <button class="upvote"><img src="up.svg" alt="" class="up">Up Vote</button>
        <span class="downvote">Related Problems</span>
        <input type="text" class="comment" placeholder="Comment">
      </div>
    </div>

{% endblock content %}