{% extends "base.html" %}
{% load static %}


{% block content %}

<div class=" ">
  <div class="card " style="border-radius: 15px; margin-left: 0px;">
    <div class="card-body p-3 ml-12">
              <h2 class=" text-uppercase text-center mb-5">Create an account</h2>

              <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                  Please correct the errors below.
                </div>
                {% endif %}

                <div class="d-flex justify-content-center">
                  <button type="submit" class="btnn  text-body"><p style="color: white; margin-top: 10px;">Register</p></button>
                </div>
              </form>
              

        <div class="form-check d-flex justify-content-center mb-2">
          <input class="form-check-input me-1" type="checkbox" value="" id="form2Example3cg" />
          <label class="form-check-label" for="form2Example3g">
            I agree all statements in <a href="{% static 'termsandconditions.html' %}" class="text-body"><u>Terms of service</u></a>
          </label>
        </div>


      <p class="text-center text-muted mt-1 mb-0">Have already an account? <a href="{% url 'login' %}"
          class="fw-bold text-body"><u>Login here</u></a></p>
    </div>
  </div>
</div>

{% endblock content %}