* {
    margin: 0px;
    padding: 0px;
  }
  body {
    background-color: rgb(230, 230, 230);
  }
  .containernav1 {
    width: 100vw;
    background: #071F5E;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .containernav1 ul nav {
    display: flex;
  }
  .containernav1 ul li a {
    color: rgb(248, 248, 248);
    margin: 4px;
    padding: 5px;
    text-decoration: none;
    margin-left: 6px;
    margin-top: 8px;
  }
  .containernav1 ul li a:hover {
    color: rgb(230, 254, 51); 
  }
  .containernav1 ul li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: large;
  }
#logo{
color: #FFF;
margin-left: 68vw;
text-align: center;
font-family: fantasy;
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: normal;
}
.post{
margin:12px;
width: 380px;
height: 230px;
flex-shrink: 0;
background: #bdbec6;
border:2px solid black;
}
.postcontent{
width: 340px;
margin:7px;
padding:12px;
height: 120px;
flex-shrink: 0;
background-color: #ffffff;
} 
.username{
color: #000001;
font-family: Arial, Helvetica, sans-serif;
font-size: 19px;
margin-left:6px;
margin-top: 0px;

font-style: normal;
font-weight: 400;
line-height: normal;
}  
.pp{
margin-top: 5px;
margin-left: 4px;
width:24px;
height:23px;
}
.upvote{
background: #5FDE5D;
border: 2px solid black;
border-radius:12px 0px;
width:90px;
height:26px;
margin:4px;
}
.upvote:hover{
background-color: #d5f811;
color: #100606;
}
.downvote:hover{

background-color: rgb(154, 12, 146);}
.downvote{
background: #43cbf0;
border: 2px solid rgb(0, 0, 0);
border-radius: 3px;
width:90px;
font-size: 15px;
border-radius:12px 0px;
font-family: serif;
color: #150b0b;
height:26px;
margin:4px;
}
.comment{
height:26px;
width:160px;
}